<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../includes/header.ejs') %>
</head>

<body>
  <div class="super-container">
    <%- include('../includes/nav.ejs') %>
    <main class="container">
      <div class="message-box inform">
        <p>
          You have logged out successfully...
        </p>
      </div>
    </main>
    <%- include('../includes/footer.ejs') %>
  </div>
</body>

</html>