<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../includes/header.ejs') %>
</head>

<body>
  <div class="super-container">
    <%- include('../includes/nav.ejs') %>
    <main class="container">
      <div class="alert alert-secondary mt-3 text-center">
        You are now logged out...
      </div>
    </main>
    <%- include('../includes/footer.ejs') %>
  </div>
</body>

</html>