<% if(errorMessage.length > 0) { %>
<div class="alert alert-danger text-center mt-3">
  <%= errorMessage %>
</div>
<% } %>

<% if(successMessage.length > 0) { %>
<div class="alert alert-success text-center mt-3">
  <%= successMessage %>
</div>
<% } %>