<% if(errorMessage.length > 0) { %>
<div class="message-box warning">
  <p>
    <%= errorMessage %>
  </p>
</div>
<% } %>

<% if(successMessage.length > 0) { %>
<div class="message-box success">
  <p>
    <%= successMessage %>
  </p>
</div>
<% } %>