<nav class="nav">
  <div class="container">
    <div class="nav-content">
      <a href="/">
        <h3><span class="secondary-color">Goals</span> Tracker</h3>
      </a>
      <ul>
        <% if(!isAuthenticated) { %>
        <a href="/auth/login">LOGIN</a>
        <a href="/auth/signup">SIGNUP</a>
        <% } else {%>
        <a href="/goals/dashboard">DASHBOARD</a>
        <a href="/account/profile">PROFILE</a>
        <form action="/auth/logout" method="POST">
          <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
          <button type="submit">LOGOUT</button>
        </form>
        <% } %>
      </ul>
      <div id="mobile-nav-toggle">
        <i class="fas fa-2x fa-bars"></i>
      </div>
    </div>
  </div>
</nav>