<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../includes/header.ejs') %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
</head>

<body>
  <div class="super-container">
    <%- include('../includes/nav.ejs') %>
    <main class="container">
      <div class="form-container">
        <h1>Login</h1>
        <canvas id="myChart" width="400" height="400"></canvas>
      </div>
    </main>
    <%- include('../includes/footer.ejs') %>
  </div>

  <script src="/js/dashboardChart.js"></script>
</body>

</html>