<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/header.ejs', {isAuthenticated: isAuthenticated}) %>
</head>

<body>
  <div class="super-container">
    <%- include('includes/nav.ejs') %>
    <main class="container">
      <h1>Welcome</h1>
      <h3>A daily <span class="secondary-color">GOALS</span> tracker for those in need of a routine.</h3>
      <a href="/auth/login" class="margin-r btn">Login</a>
      <a href="/auth/signup" class="btn">Signup</a>
    </main>
    <%- include('includes/footer.ejs') %>
  </div>
</body>

</html>