html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

main {
  flex-grow: 1;
}

header, main, footer {
  flex-shrink: 0;
}

footer {
  color: white;
  min-height: 60px;
  background-color: rgb(44, 44, 44);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  color: white;
  padding: 7px 15px;
  margin: 0px;
  background-color: rgb(44, 44, 44);
  border: 1px solid rgb(44, 44, 44);
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
}

input {
  border: 1px solid rgb(44, 44, 44);
  border-radius: 4px;
  padding: 3px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 300px;
  height: 100%;
}

.secondary-color {
  color: rgb(21, 156, 66);
}

.warning {
  border: 1px solid rgb(214, 77, 77);
  background-color: rgba(202, 118, 118, 0.637);
}

.success {
  border: 1px solid rgb(77, 214, 77);
  background-color: rgba(118, 202, 125, 0.637);
}

.inform {
  border: 1px solid rgb(214, 205, 77);
  background-color: rgba(201, 202, 118, 0.637);
}

.message-box {
  padding: 0px 20px;
  border-radius: 10px;
  margin: 10px 0px 20px 0px;
  text-align: center;
}

.message-box p {
  margin: 10px 0px;
}

.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}


.super-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 360px;
}

.btn {
  color: white;
  padding: 7px 15px;
  margin: 0px;
  background-color: rgb(44, 44, 44);
  border: 1px solid rgb(44, 44, 44);
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.btn:hover {
  color: rgb(44, 44, 44);
  background-color: white;
}

nav {
  min-height: 60px;
  color: white;
  background-color: rgb(44, 44, 44);
}

nav ul {
  margin: 0px;
  padding: 20px;
  min-width: 50%;
  display: flex;
  justify-content: space-around;
}

nav li {
  list-style: none;
}

nav a {
  color: white;
  font-weight: 900;
  text-decoration: none;
  margin-right: 10px;
}

nav button {
  padding: 0px;
  color: rgb(161, 161, 161);
  font-weight: 700;
}

nav form {
  min-width: fit-content;
}

.nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.margin-r {
  margin-right: 10px;
}

@media (min-width: 576px) {
  .container {
    max-width: 470px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 620px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 860px;
  }
}

@media (min-width: 1260px) {
  .container {
    max-width: 1000px;
  }
}