html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

main {
  flex-grow: 1;
}

header, main, footer {
  flex-shrink: 0;
}

footer {
  color: white;
  min-height: 60px;
  background-color: rgb(44, 44, 44);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  color: white;
  padding: 7px 15px;
  margin: 0px;
  background-color: rgb(44, 44, 44);
  border: 1px solid rgb(44, 44, 44);
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
}

input {
  border: 1px solid rgb(44, 44, 44);
  border-radius: 4px;
  padding: 3px;
}

select {
  border: 1px solid rgb(44, 44, 44);
  border-radius: 4px;
  padding: 3px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 300px;
  height: 100%;
}

.mt {
  margin-top: 10px; 
}

.mb {
  margin-bottom: 10px; 
}

.ml {
  margin-left: 10px; 
}

.mr {
  margin-right: 10px; 
}

img.avatar {
  max-width: 200px;
}

.secondary-color {
  color: rgb(21, 156, 66);
}

.message-box {
  padding: 0px 20px;
  border-radius: 10px;
  margin: 10px auto 20px auto;
  text-align: center;
  max-width: 400px;
}

.message-box p {
  margin: 10px 0px;
}

.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-container a {
  text-align: center;
  margin: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

input.invalid {
  border: 1px solid red;
}

.card {
  border: 2px solid;
  border-radius: 5px;
  padding: 0px 15px;
  margin: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.super-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 360px;
}

.btn {
  color: white;
  padding: 7px 15px;
  background-color: rgb(44, 44, 44);
  border: 1px solid rgb(44, 44, 44);
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  max-width: fit-content;
}

.btn:hover {
  color: rgb(44, 44, 44);
  background-color: rgba(211, 211, 211, 0.568);
}

.btn-warning {
  border: 1px solid rgb(196, 33, 33);
  background-color: rgb(228, 98, 98);
  color: black;
}

.warning {
  border: 1px solid rgba(129, 58, 58, 0.637);
  background-color: rgba(223, 162, 162, 0.637);
}

.success {
  border: 1px solid rgba(118, 202, 125, 0.637);
  background-color: rgba(190, 252, 195, 0.637);
}

.inform {
  border: 1px solid rgb(194, 187, 92);
  background-color: rgb(243, 236, 141);
}

nav {
  min-height: 60px;
  color: white;
  background-color: rgb(44, 44, 44);
}

nav ul {
  margin: 0px;
  padding: 20px;
  min-width: 50%;
  display: flex;
  justify-content: space-around;
}

nav li {
  list-style: none;
}

nav a {
  color: white;
  font-weight: 900;
  text-decoration: none;
  margin-right: 10px;
}

nav button {
  padding: 0px;
  color: rgb(161, 161, 161);
  font-weight: 700;
}

nav form {
  min-width: fit-content;
}

.nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.margin-r {
  margin-right: 10px;
}

@media (min-width: 576px) {
  .container {
    max-width: 470px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 620px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 860px;
  }
}

@media (min-width: 1260px) {
  .container {
    max-width: 1000px;
  }
}