<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../includes/header.ejs') %>
</head>

<body>
  <div class="super-container">
    <%- include('../includes/nav.ejs') %>
    <main class="container">
      <%- include('../includes/messages.ejs') %>
      <div class="super-container">
        <h1>Goals</h1>

      </div>
    </main>
    <%- include('../includes/footer.ejs') %>
  </div>
</body>

</html>